html {
  font-size: 10px;
}

body {
  --text-color: #f6590b;
  --toggle-color: #ffaf86;

  --toggle-check-color: #ffffff;
}

.slider {
  max-width: 50%;
  margin: 0 auto;
}

.slider__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5rem;
}

input {
  display: none;
}

/* Images */

.slider__images {
  overflow: hidden;

  width: 100%;
}

.slides_wrapper {
  display: flex;

  transition-duration: 0.5s;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  padding-bottom: 75%;  

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slide_1 {
  background-image: url(./assets/img/1.jpg);
}

.slide_2 {
  background-image: url(./assets/img/2.jpg);
}

.slide_3 {
  background-image: url(./assets/img/3.jpg); 
}

.slide_4 {
  background-image: url(./assets/img/4.jpg);
}

.slider__content #input_1:checked ~ .slider__images .slides_wrapper { 
  transform: translate(0%); 
}

.slider__content #input_2:checked ~ .slider__images .slides_wrapper { 
  transform: translate(-100%); 
}

.slider__content #input_3:checked ~ .slider__images .slides_wrapper { 
  transform: translate(-200%); 
}

.slider__content #input_4:checked ~ .slider__images .slides_wrapper { 
  transform: translate(-300%); 
}

/* Text */

.slider__text {
  overflow: hidden;
  position: relative;

  width: 70%;

  font-size: 5rem;
  color: var(--text-color)
}

.text_wrapper {
  display: flex;

  transition-duration: 0.5s;
}

.text {
  flex-shrink: 0;
  width: 100%;
}

.slider__content #input_1:checked ~ .slider__text .text_wrapper { 
  transform: translate(0%); 
}

.slider__content #input_2:checked ~ .slider__text .text_wrapper { 
  transform: translate(-100%); 
}

.slider__content #input_3:checked ~ .slider__text .text_wrapper { 
  transform: translate(-200%); 
}

.slider__content #input_4:checked ~ .slider__text .text_wrapper { 
  transform: translate(-300%); 
}

/* Navigation */
.slider__navigation {
  display: flex;
  justify-content: end;

  width: 30%;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 7rem;

  cursor: pointer;
}

label:hover {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 7rem;

  cursor: pointer;
}

label:hover .label__inner {
  border: 5px solid var(--text-color);

  background-color: var(--text-color);
}

label:active {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 7rem;

  cursor: url('./assets/img/hand-pointer.svg') 0 0, pointer;
}


.label__inner {
  width: 3rem;
  height: 3rem;
  border-radius: calc((3rem + 0.5rem * 2) / 2);
  border: 0.5rem solid var(--toggle-color);

  background-color: var(--toggle-color);
}

.slider__content #input_1:checked ~ .slider__navigation .label_1 .label__inner,
.slider__content #input_2:checked ~ .slider__navigation .label_2 .label__inner,
.slider__content #input_3:checked ~ .slider__navigation .label_3 .label__inner,
.slider__content #input_4:checked ~ .slider__navigation .label_4 .label__inner { 
  border: 5px solid var(--text-color);

  background-color: var(--toggle-check-color);
}


