body {
  font-size: 10px;
}

.slider {
  max-width: 50%;
  margin: 0 auto;
}

.slider__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 50px;
}

input {
  order: 3;
  flex-grow: 1;
  justify-self: flex-end;

  cursor: pointer;
}

/* Images */

.slider__images {
  order: 1;
  overflow: hidden;

  width: 100%;
}

.slides_wrapper {
  display: flex;

  transition-duration: 0.5s;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  padding-bottom: 75%;  

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slide_1 {
  background-image: url(./assets/img/1.jpg);
}

.slide_2 {
  background-image: url(./assets/img/2.jpg);
}

.slide_3 {
  background-image: url(./assets/img/3.jpg); 
}

.slide_4 {
  background-image: url(./assets/img/4.jpg);
}

.slider__content #input_1:checked ~ .slider__images .slides_wrapper { 
  transform: translate(0%); 
}

.slider__content #input_2:checked ~ .slider__images .slides_wrapper { 
  transform: translate(-100%); 
}

.slider__content #input_3:checked ~ .slider__images .slides_wrapper { 
  transform: translate(-200%); 
}

.slider__content #input_4:checked ~ .slider__images .slides_wrapper { 
  transform: translate(-300%); 
}

/* Text */

.slider__text {
  order: 2;
  overflow: hidden;
  position: relative;

  width: 70%;

  font-size: 3rem;
}

.text_wrapper {
  display: flex;

  transition-duration: 0.5s;
}

.text {
  flex-shrink: 0;
  width: 100%;
}

.slider__content #input_1:checked ~ .slider__text .text_wrapper { 
  transform: translate(0%); 
}

.slider__content #input_2:checked ~ .slider__text .text_wrapper { 
  transform: translate(-100%); 
}

.slider__content #input_3:checked ~ .slider__text .text_wrapper { 
  transform: translate(-200%); 
}

.slider__content #input_4:checked ~ .slider__text .text_wrapper { 
  transform: translate(-300%); 
}

